/* Fruitglass Importer */
/* by bonkmaykr        */
/* at bonkmaykr.xyz    */

/* IMPORTS - DO NOT REMOVE*/
@import url("https://bonkmaykrq.github.io/gbubers/fruitglass.css");

/* OPTIONAL IMPORTS - YOU MAY ENABLE/DISABLE THESE*/
/*@import url("https://bonkmaykrq.github.io/gbubers/snippets/scanlines.css");*/

/* VARIABLES */
:root {
        --fgPrimaryTextColor:200, 200, 200;
        --fgSecondaryTextColor:140, 140, 140;
        --fgAccentContrastTextColor:0, 0, 0; /*used for text selection, etc*/
        --fgAccentHighlightContrastTextColor:0, 0, 0; /*used for button hovers, etc*/
       
        --fgAccentColor:46, 245, 254;
        --fgAccentHighlight:0, 247, 232;
        --fgPrimaryColor:0, 0, 0;
        --fgSecondaryColor:97, 18, 13;
        --fgNavbarColor:0, 0, 0;
        --fgModuleOpacity:0.2; /*from 0 to 1 in decimal*/
       
        /*Image backgrounds should always be on layer 1.*/
        /*Layer 2 is used as backup until layer 1 loads.*/
        --fgBackground1:url("https://files.gamebanana.com/bitpit/zeta.gif");
        --fgBackground2:#000000;
        --fgWrapperBackground:#000000a0;
       
        /*Controls the intensity of gaussian blur effects*/
        /*      !! WARNING !! - Module blurring will heavily reduce the framerate on low-end devices*/
        /*      If you want performance, set fgModuleBlur to 0px. Effectiveness may vary. */
        /*      When that doesn't work, feel free to remove the backdrop filter entirely. */
        --fgUIBlur:7px;
        --fgModuleBlur:10px;

                /*Sizing Options*/
                --fgNavbarRadius:15px; /*Setting this too high can cause problems. Try to keep it below 20px*/
                --fgPrimaryNavbarThickness:5px;
                --fgPrimaryNavbarPadding:0;
                --fgPrimaryNavbarMargin:5px;
                --fgSecondaryNavbarThickness:2px;
                --fgSecondaryNavbarPadding:0;
                --fgSecondaryNavbarMargin:10px;
                --fgModuleRadius:15px;
                --fgModuleThickness:5px;
                --fgModulePadding:.5em 1em 1em 1em;
                --fgModuleMargin:8px 2.5px 0px 2.5px;

                /*Gamebanana built-in settings*/
        --DefaultBlueColor: #00ffff;
        --DefaultRedColor: #ff7777;
        --DefaultRedDarkColor: #ff9977;
        --DefaultGreenColor: #77ff77;
        --DefaultGreenDarkColor: #99ff77;
        --DefaultPurpleColor: #9977ff;
        --DefaultGreyColor: rgb(var(--fgSecondaryTextColor));
        --DefaultOrangeColor: #ff8800;
        --DefaultYellowColor: #E93500;
               
                /*Custom cursors*/
        --defaultCursor:        url("https://files.gamebanana.com/bitpit/duelist.gif"),default !important;
        --textCursor:   url("https://files.gamebanana.com/bitpit/duelist.gif"),text !important;
        --pointerCursor:   url("https://files.gamebanana.com/bitpit/bloodblade.gif"),default !important;
       
                /*Unused variables, caused font loading problems. Feel free to ignore*/
/*
                --fgFont:;
                --fgHeaderFont:;*/
}


@font-face {
    font-family:Halo;
    src:url(https://files.gamebanana.com/bitpit/halo3.ttf);
}

@font-face {
    font-family:Nunito;
    src:url(https://files.gamebanana.com/bitpit/nunito-regular_1b89e.ttf);
}

h1, h2, h3, module > h2 {font-family:Halo !important;}
.RichText h1, .RichText h2, .RichText h3 {font-family:Nunito !important;}
#BodyWrapper {font-family:Nunito;} 

#SiteLogo img
{
        display : none;
}

#SiteLogo:after
{
        content : url('https://files.gamebanana.com/bitpit/116233-logo-halo-download-free-imag_30aa1.png');
}

@media (max-width : 1000px)
{

        #SiteLogo .SacredBanana
        {
                display : none;
        }

        #SiteLogo:after
        {
                content : url('https://files.gamebanana.com/bitpit/h__gb_6c2f9.png');
        }
}